---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio - Educación Vial para Niños">
  <h2>Bienvenidos a Educación Vial para Niños</h2>
  <p class="lead">Aprende sobre seguridad vial de forma divertida</p>
  
  <div class="row mt-4">
    <div class="col-md-6">
      <h3>¿Por qué es importante la educación vial?</h3>
      <p>La educación vial nos ayuda a estar seguros en las calles y a respetar las normas de tránsito.</p>
      <img src="/images/ninos-cruzando.jpg" alt="Niños cruzando la calle" class="img-fluid rounded">
    </div>
    <div class="col-md-6">
      <h3>¿Qué aprenderás aquí?</h3>
      <ul>
        <li>Señales de tránsito</li>
        <li>Cómo cruzar la calle de forma segura</li>
        <li>Normas para andar en bicicleta</li>
        <li>Y mucho más...</li>
      </ul>
      <a href="/juegos" class="btn btn-primary">¡Ir a los juegos!</a>
    </div>
  </div>
</Layout>